body {
  background-color: #cf2610;
}

#main-header {
  text-align: center;
  font-size: 70px;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #379c1d;
  font-size: 4.5rem;
}

a {
  color: rgb(100, 28, 28);
  text-decoration: none;
}

ol {
  color: #8a1111;
  font-size: 1.5rem;
}

img {
  position: absolute;
  top:30%;
  left:10%;
}

p {
  position: absolute;
  top:20%;
  left:20%;
}
.image1 {
  position: absolute;
  top:50%;
  left:0%;
}

.image2 {
  position: absolute;
  top:35%;
  left:45%;
}

.image3 {
  position: absolute;
  top:20%;
  left:45%;
}

h2 {
  position: absolute;
  top:19%;
  left:50%;
}

p3 {
  margin: 2px;
  padding: 0.1px;
  border: 2px solid rgb(7, 22, 233);
}

a:visited {
  color: rgb(122, 96, 96);
}

a:hover {
  color: aqua;
}

